<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Idea89_Assistant" setup_version="1.1.3">
        <sequence>
            <module name="Magento_Catalog"/>
            <module name="Magento_Cms"/>
            <module name="Magento_Config"/>
            <module name="Magento_Csp"/>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>
